.entete {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3236+0,f2ba82+100 */
  background: #ff3236; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #ff3236 0%,
    #f2ba82 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #ff3236 0%,
    #f2ba82 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #ff3236 0%,
    #f2ba82 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3236', endColorstr='#f2ba82',GradientType=1 ); /* IE6-9 */
}

.entete ul li {
    background-color: transparent;
} 
